LOGIN=login
PASSWORD=password
ENV=prod
FIRST_NAME=first_name
LAST_NAME=last_name
SECOND_LOGIN=second_login
SECOND_PASSWORD=second_password
SECOND_FIRST_NAME=second_first_name
SECOND_LAST_NAME=second_last_name
